* {
    text-align: center;
}
.waytocontact {
    text-align: center
}

.underlined {
    text-decoration: underline;
    text-decoration-color: rgb(43, 239, 174);
    padding: 15px;

}

.codeblock {
    background-color: white;
    color: rgb(43, 239, 174)
}

.contact {
    color: rgb(43, 239, 174)
}

.contact:hover {
    opacity: 0.7
}

