@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    font-family: Outfit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.nav {
    width: 100vw;
    height: 110px;
    flex-direction: row;
    display: flex;
    background-color: rgb(233, 233, 255);
    border: none;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 38px 7px rgba(0,0,0,0.5);
-webkit-box-shadow: 0px 0px 38px 7px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 38px 7px rgba(0,0,0,0.5);
}

.navlinks {
    margin-right: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.name-logo {
    
        margin-right: 45px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
    
}

.nav-button {
    font-size: 26px;
    background-color: rgb(230, 172, 0);
    color: black;
    width: 110px;
    height: 60px;
    cursor: pointer;
    transition: 600ms ease-in-out;
}

.nav-button:hover {
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin-left: 25px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.link {
    font-size: 50px;
    color: #272727;
    transition: 600ms ease-in-out;
}

.link:hover {
    color: black;
    transform: rotateZ(10deg);
}

.av {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    border: none;
    border-radius: 150px;
}